<div class="main-container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>{{ currentPlayer }} please pick an element...</h4>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <button class="btnSubmit btn-warning" (click)="getMove('Scissors')">
                                <fa name="cut"></fa> Scissors
                            </button>
                        </div>
                        <div class="col-md-4 text-center">
                            <button class="btnSubmit btn-danger" (click)="getMove('Rock')">
                                <fa name="box"></fa> Rock
                            </button>
                        </div>
                        <div class="col-md-4 text-center">
                            <button class="btnSubmit btn-success" (click)="getMove('Paper')">
                                <fa name="map"></fa> Paper
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        Player 1: {{ players[0] }}
                    </div>
                    <div class="row">
                        Player 2: {{ players[1] }}
                    </div>
                    <div class="row">
                        Current Round: {{ currentRound }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header text-center">
            <h4>Game Summary</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Round Number</th>
                        <th scope="col">{{ players[0] }} Move</th>
                        <th scope="col">{{ players[1] }} Move</th>
                        <th scope="col">Winner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of results">
                        <td>{{ result.round }}</td>
                        <td>{{ result.player1Move }}</td>
                        <td>{{ result.player2Move }}</td>
                        <td>{{ result.playerWinner }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalWinner" tabindex="-1" role="dialog" aria-labelledby="modalWinner"
        aria-hidden="true" [ngStyle]="{'display': winnerModalOpen ? 'block' : 'none', 'opacity': 1}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">There is a Winner!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The winner is {{ winner }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="restartService()"
                        data-dismiss="modal">Start Again</button>
                </div>
            </div>
        </div>
    </div>
</div>